* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #f9f9f9;
  color: #333;
}

button {
  cursor: pointer;
}

:root {
  --primary: #4f46e5;
  --danger: #e11d48;
  --gray: #d4d4d8;
  --yellow: #facc15;
  --green: #22c55e;
}
